{% extends "master.html" %}
{% load staticfiles %}
{% load tags %}
{% block title %}
    ثبت کالای جدید
{% endblock %}
{% block content %}

    <div id="main-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">

                        ثبت کالای جدید
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                        </li>

                        <li><a href="/warehouse/addgood/">ثبت کالای جدید</a><span class="divider-last">&nbsp;</span></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->


            <!-- BEGIN ADVANCED TABLE widget-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN EXAMPLE TABLE widget-->
                    <div class="widget">
                        <div class="widget-title">
                            <h4><i class="icon-reorder"></i>ثبت کالای جدید</h4>
                            <span class="tools">
                                
                            </span>

                        </div>




                        <form action="../do/addgood/" id="frmFinalPost" method="post">

                        <div class="widget-body">


                                <div class="widget-body form">
                                    <div class="form-horizontal">
                                        <div class="control-group" >
                                            <label class="control-label">دسته</label>
                                            <div class="controls">
                                                <select  name="category" id="category"  data-placeholder="بدون دسته" class="chosen-with-diselect"><option value=""></option>{% good_cats %}</select>

                                            </div>
                                        </div>
                                        <div class="control-group" >
                                            <label class="control-label">شماره سفارش</label>
                                            <div class="controls">
                                                <input name ="order" id="order"   class="input-mini"  />

                                            </div>
                                        </div>
                                        <div class="control-group" >
                                            <label class="control-label">شماره کالا در سفارش </label>
                                            <div class="controls">
                                                <select name="orderitem" id="orderitem"   class="input-mini"  > </select>

                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">نام کاربری مسئول خرید</label>

                                            <div class="controls">
                                                <div class="input-prepend">
                                                    <span class="add-on"><i class="icon-user"></i></span><input  name="username" placeholder="نام کاربری" id="username" type="text"  />
                                                </div>
                                            </div>
                                        </div>
                                        <div id="passwordDiv" class="control-group">
                                            <label class="control-label">رمز عبور</label>
                                            <div class="controls">
                                                <div class="input-prepend">

                                                    <span class="add-on"><i class="icon-key"></i></span><input name="password" id="password" type="password" placeholder="رمز عبور" /> </div><span class="help-inline" style="display: none;" id="wrongpass">رمز نادرست است</span>

                                            </div>

                                        </div>

                                      </div>
                                    <div class="form-horizontal">

                                        <div class="form-actions">

                                            <button id="btnSubmit" type="submit" class="btn btn-success">ثبت</button>

                                        </div>

                                    </div>
                                    {% csrf_token %}


                        </div>
                    </div>
                        </form>
                    </div>


                <!-- END EXAMPLE TABLE widget-->
            </div>
        </div>

        <!-- END ADVANCED TABLE widget-->

        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "assets/chosen-bootstrap/chosen/chosen.jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/csrf.ajax.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "assets/chosen-bootstrap/chosen/chosen.css" %}" />
    <script>
      updateOrderItem =   function (){

            if($('#order').val().trim() != '')
            {
                $.ajax({
                    type: "POST",
                    url: "../orderitemlist/",  // or just url: "/my-url/path/"
                    data: {
                        order:$('#order').val(),
                        category:$('#category').val()
                    },
                    success: function(data) {
                        $('#orderitem').html("");//clear old options
                        data = eval(data);//get json array
                        for (var i = 0; i < data.length; i++)//iterate over all options
                        {


                                $('#orderitem').append(
                                        $('<option></option>').val(data[i]['pk']).html(data[i]['pk']).attr("title", "تعداد:" + data[i]['quantity'] + "\n" + data[i]['description']));

                        }


                    }
                });
            }
        };
        $('#category').change(updateOrderItem);
        $('#order').change(updateOrderItem);

      $('#btnSubmit').click(function(e){
          e.preventDefault();

          if($('#orderitem').val() == null){
              return;
          }
          $.ajax({
              type: "POST",
              url: "/accounts/checkcredentials/",  // or just url: "/my-url/path/"
              data: {
                  username:$('#username').val(),
                  password:$('#password').val()
              },
              success: function(data) {
                  if (data == 'wrongpass')
                  {
                      $('#passwordDiv').addClass('error');
                      $('#wrongpass').show();
                  }
                  else
                  {
                      $('#frmFinalPost').submit();
                  }


              }
          });


      });

    </script>

{% endblock%}