{% extends "master.html" %}
{% load staticfiles %}
{% load tags %}
{% block title %}
    سفارش جدید
{% endblock %}
{% block content %}

    <div id="main-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">

                        سفارش جدید
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                        </li>

                        <li><a href="addOrder.html">سفارش جدید</a><span class="divider-last">&nbsp;</span></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->


            <!-- BEGIN ADVANCED TABLE widget-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN EXAMPLE TABLE widget-->
                    <div class="widget">
                        <div class="widget-title">
                            <h4><i class="icon-reorder"></i>سفارش جدید</h4>
                            <span class="tools">
                                
                            </span>

                        </div>





                        <div class="widget-body">

                            <div class="widget-body form">
                                <div class="form-horizontal">
                                   <div class="control-group">
                                        <label class="control-label">دسته</label>
                                        <div class="controls">
                                            <select id="optCat" data-placeholder="بدون دسته" class="chosen-with-diselect  span6"><option value=""></option>{% good_cats %}</select>

                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">تعداد</label>
                                        <div class="controls">
                                            <input type="text" id="txtQuantity"   class="input-mini"  />

                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">شرح</label>
                                        <div class="controls">
                                            <textarea class="span6 " id="txtDscp" rows="8"></textarea>
                                        </div>
                                    </div>
                                    <div class="control-group">

                                        <div class="controls">
                                            <button id="btnAddItem" class="btn btn-warning"><i class="icon-plus icon-white"></i> اضافه</button>

                                        </div>
                                    </div>


                                </div>
                                <br />
                                <table class="table table-striped table-bordered" id="order_items">
                                    <thead>
                                    <tr>
                                        <th class="hidden-phone">دسته</th>
                                        <th class="hidden-phone">مقدار</th>
                                        <th class="hidden-phone">توضیح</th>
                                        <th class="hidden-phone"></th> <!-- Cat Value   !-->
                                        <th class="hidden-phone"></th> <!-- Description !-->
                                        <th class="hidden-phone">  </th>
                                    </tr>
                                    </thead>
                                    <tbody>



                                    </tbody>
                                </table>
                                <div class="form-horizontal">
                                    <form action="../do/addorder/" id="frmFinalPost" method="post">
                                        {% csrf_token %}
                                    {% if request.user.is_superuser %}
                                        <br/>
                                    <div class="control-group">


                                            <input type="checkbox" class="checkboxes" id="isforall" name="isforall" > سفارش اموال عمومی</input>

                                    </div>
                                    {% endif %}
                                    <div class="form-actions">

                                        <button id="btnSubmit" type="submit" class="btn btn-success">ثبت</button>

                                    </div>
                                        <input type="hidden" name="tableData" id="tableData" />
                                    </form>
                                </div>



                            </div>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE widget-->
                </div>
            </div>

            <!-- END ADVANCED TABLE widget-->

            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE CONTAINER-->
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "assets/chosen-bootstrap/chosen/chosen.jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/data-tables/jquery.dataTables.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/data-tables/DT_bootstrap.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "assets/chosen-bootstrap/chosen/chosen.css" %}" />
    <script>
          $('#btnAddItem').click(
              function(){
                  category =  $('#optCat option:selected').text();
                  if (category == '') {
                      category = "بدون دسته"
                  }
                  $("#order_items").dataTable().fnAddData(
                          [

                              category,
                                 $("#txtQuantity").val(),
                                "<textarea disabled >" +  $("#txtDscp").val() + "</textarea>",
                              $("#optCat").val(),
                              $("#txtDscp").val(),
                                 "<button class=\"btn btn-danger\" type=\"submit\" ><i class=\"icon-remove icon-white\"></i>حذف</button>"

                          ]
                  )

          }
          )
         $("#btnSubmit").click(function (){
             if($oTable.fnGetData().length > 0){
                $("#tableData").val(JSON.stringify($oTable.fnGetData()));
                $("#frmFinalPost").submit();
             }
         });
         var $oTable =  $('#order_items').dataTable({
              "bPaginate" : false,
              "bFilter" : false,
              "bInfo" : false,
             "bAutoWidth": false,
              "aoColumnDefs": [
                  { "bVisible": false, "aTargets": [3 ] },
                  { "bVisible": false, "aTargets": [4 ] }
              ] });
          $('#order_items button').live('click', function (e) {
              e.preventDefault();

              var nRow = $(this).parents('tr')[0];
              $oTable.fnDeleteRow( nRow );
          } );

    </script>
{% endblock%}
