{% extends "master.html" %}
{% load staticfiles %}
{% load tags %}
{% block title %}
اضافه کردن کاربر
{% endblock %}
{% block content %}

      <div id="main-content">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
               <div class="span12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->     
                  <h3 class="page-title">
                    
                   اضافه کردن کاربر
                  </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href="#"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                       </li>
                        
                       <li><a href="">اضافه کردن کاربر</a><span class="divider-last">&nbsp;</span></li>
                   </ul>
                  <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->          
            
             
            <!-- BEGIN ADVANCED TABLE widget-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN EXAMPLE TABLE widget-->
                    <div class="widget">
                        <div class="widget-title">
                            <h4><i class="icon-reorder"></i>اضافه کردن کاربر</h4>
                            <span class="tools">
                                
                            </span>
                            
                        </div>
                       
                       
                          

                       
                   
                        <div class="widget-body">
                            <div class="widget-body form">
                             <form action="adduser/do" method="post" class="form-horizontal">
                                 {% csrf_token %}
                            <div class="control-group">
                              <label class="control-label">نام کاربری</label>
                              <div class="controls">
                                 <input name="username" type="text"    />
                                 
                              </div>
                           </div>
							<div class="control-group">
                              <label class="control-label">نام</label>
                              <div class="controls">
                                 <input name="firstname" type="text"    />
                                 
                              </div>
                           </div>
                                 <div class="control-group">
                                     <label class="control-label">نام خانوادگی</label>
                                     <div class="controls">
                                         <input name="lastname" type="text"    />

                                     </div>
                                 </div>
                                  <div class="control-group">
                              <label class="control-label">مسئولیت</label>
                              <div class="controls">
                                 <select name="group" class="span6">{% user_groups %}</select>
                                 
                              </div>
                           </div>
                                 
                                  <div class="control-group">
                             
                              <div class="controls">
                                 <button type="submit" class="btn btn-success">ثبت</button>
                              
                              </div>
                           </div>
                              
                        
                              </form>
                                
                            
                                
                        </div>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE widget-->
                </div>
            </div>

            <!-- END ADVANCED TABLE widget-->

            <!-- END PAGE CONTENT-->
         </div>
         <!-- END PAGE CONTAINER-->
      </div>
      <!-- END PAGE -->

  {% endblock %}

