{% extends "master.html" %}
{% load staticfiles %}
{% block title %}
تمام کالاها
{% endblock %}
{% block content %}
    <div id="main-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title" >تمام کالاها </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                        </li>
                        <li>
                            <a href="/warehouse/allgoods/">>تمام کالاها</a><span class="divider-last">&nbsp;</span>
                        </li>

                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->

            <!-- BEGIN ADVANCED TABLE widget-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN EXAMPLE TABLE widget-->
                    <div class="widget">
                        <div class="widget-title">
                            <h4><i class="icon-reorder"></i>کالاها</h4>
                            <span class="tools"> </span>

                        </div>

                        <div class="widget-body">

                            <table>
                                <tr>
                                    <td> تاریخ شروع </td>
                                    <td> : </td>
                                    <td>
                                        <input id="startDate"  size="16" type="text"  />
                                    </td>
                                </tr>
                                <tr>
                                    <td> تاریخ پایان </td>
                                    <td> : </td>
                                    <td>
                                        <input id="endDate" size="16" type="text"  />
                                    </td>
                                </tr>
                                <tr>
                                    <td> وضعیت </td>
                                    <td> : </td>
                                    <td>
                                        <select class="span7 " id="cat" data-placeholder="Choose a Category" tabindex="1">

                                            <option value="" selected="selected">همه</option>
                                            <option value="W">موجود در انبار</option>
                                            <option value="U">تحویل داده بی برچسب</option>
                                            <option value="L">تحویل داده شده</option>
											<option value="D">خراب</option>

                                        </select></td>
                                </tr>
                            </table>

                            <button id="show" class="btn btn-inverse">
                                <i class="icon-refresh icon-white"></i>نمایش
                            </button>

                        </div>

                        <div class="widget-body">
                            <table class="table table-striped table-bordered" id="accepted_orders">
                                <thead>
                                <tr>
                                    <th>شماره</th>
									<th class="hidden-phone">نام کالا</th>
									<th class="hidden-phone">تاریخ</th>
									<th class="hidden-phone">دسته</th>
                                    <th class="hidden-phone">وضعیت</th>
                                    <th class="hidden-phone">مالک فعلی</th>
                                </tr>
                                </thead>
                                <tbody>


                                </tbody>

                            </table>

                        </div>

                        <br/>
                        <br/>
                       
                        <!-- </div> -->
                        <!-- </div> -->
                        <!-- END EXAMPLE TABLE widget-->
                    </div>
                </div>

                <!-- END ADVANCED TABLE widget-->

                <!-- END PAGE CONTENT-->
            </div>
            <!-- END PAGE CONTAINER-->
        </div>
        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "assets/data-tables/jquery.dataTables.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/data-tables/DT_bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/bootstrap-datepicker/js/jquery.ui.datepicker-cc.all.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "assets/bootstrap-datepicker/styles/jquery.ui.datepicker1.8-all.css" %}" />

    <script>
        $(function() {

            $('#startDate').datepicker({
                dateFormat : 'yy-mm-dd'
            });
            $('#endDate').datepicker({
                dateFormat : 'yy-mm-dd'
            });
        });
    </script>

    <script>
        $("#show").click(function (){

            oTable.fnDraw();
        })
        
        var global_order = -1;
        var sTable = -1;


        var oTable = $('#accepted_orders').dataTable({
            "bFilter" : false,
            "bProcessing" : true,
            "bServerSide" : true,
            "sAjaxSource" : "../json/allgoods",
            "aaSorting": [[ 0, "desc" ]],
            "sPaginationType" : "bootstrap",
            "oLanguage" : {
                "sLengthMenu" : "_MENU_ رکورد در صفحه",
                "oPaginate" : {
                    "sPrevious" : "قبلی",
                    "sNext" : "بعدی"
                }
            },
            "aoColumnDefs" : [{
                'bSortable' : false,
                'aTargets' : [3]
            }],
            "fnServerParams" : function(aoData) {
                var $startDate = $('#startDate');
                if ($startDate.val() != "")
                    aoData.push({
                        "name" : "submitDate__gte",
                        "value" : $startDate.val()
                    });
                var $endDate = $('#endDate');
                if ($endDate.val() == "") {
                } else aoData.push({
                    "name": "submitDate__lte",
                    "value": $endDate.val()
                });
                var $cat = $('#cat');
                if ($cat.val() != "")
                {
                    aoData.push({
                        "name": "status",
                        "value": $cat.val()
                    });
                }
            }
        });

        jQuery('#accepted_orders_wrapper').find('.dataTables_filter input').addClass("input-medium");
        // modify table search input
        jQuery("#accepted_orders_wrapper").find('.dataTables_length select').addClass("input-mini");
        // modify table per page dropdown
    </script>

{% endblock %}
