{% extends "master.html" %}
{% block title %}
       صفحه‌ی نخست
     {% endblock %}
{% block content %}
<!-- BEGIN PAGE -->
      <div id="main-content">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
               <div class="span12">
                   <!-- BEGIN THEME CUSTOMIZER-->
                   
                   <!-- END THEME CUSTOMIZER-->
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->    
                   <br /> 
     <div class="row-fluid">
                 <div class="span10">
                            <!-- BEGIN RECENT ORDERS PORTLET-->
                            <div class="widget">
                                <div class="widget-title">
                                    <h4><i class="icon-tags"></i>خوش آمدید</h4>
                                     
                                </div>
                                <div class="widget-body">
                                    ali گرامی به سیستم مهرانیک خوش آمدید.&nbsp; شما به عنوان یک <span class="auto-style1">مدیر</span> وارد سیستم شده‌‌اید. لطفا قبل از کار با سیستم راهنمای عملی آن را مطالعه کنید. برای دسترسی به کلیه‌ی امکانات سیستم از منوی سمت راست استفاده کنید.</div>
                            </div>
                            <!-- END RECENT ORDERS PORTLET-->
                        </div>
                 </div>
             <div class="row-fluid">
                 <div  class="span10">
                  
                      					<!-- BEGIN SQUARE STATISTIC BLOCKS-->
                    <div  class="square-state">
                      
                            <a class="icon-btn span2" href="/order/myorders/">
                                <i class="icon-file-alt"></i>
                                <div>سفارش‌های من</div>
                                
                            </a>
                            <a class="icon-btn span2" href="/order/addorder/">
                                <i class="icon-pencil"></i>
                                <div>ثبت سفارش</div>
                               
                            </a>
                            <a class="icon-btn span2" href="MyDamagedGoods.html">
                                <i class="icon-plus"></i>
                                <div>کالاهای خراب من</div>
                            </a>
                            
                 

                       </div> 
                        
                       </div>
					
                 </div>
				</div>
                    <!-- END SQUARE STATISTIC BLOCKS-->
					
				</div>
				{% endblock %}