<!DOCTYPE html>
{% load staticfiles %}


<!-- BEGIN HEAD -->

<head>
   <meta charset="utf-8" />
   <title>
   	 {% block title %}
       صفحه‌ی نخست
     {% endblock %}
   	 </title>
   <meta content="width=device-width, initial-scale=1.0" name="viewport" />
   <meta content="" name="description" />
   <meta content="" name="author" />
   <style type="text/css">
    .auto-style1 {
        color: #FF0066;
    }
	</style>
   <link href="{% static "assets/bootstrap-rtl/css/bootstrap-rtl.min.css" %}" rel="stylesheet" />
   <link href="{% static "assets/bootstrap-rtl/css/bootstrap-responsive-rtl.min.css" %}" rel="stylesheet" />
   <link href="{% static "assets/font-awesome/css/font-awesome.css" %}" rel="stylesheet" />
   <link href="{% static "css/style.css" %}" rel="stylesheet" />
   <link href="{% static "css/style_responsive.css" %}" rel="stylesheet" />
   <link href="{% static "css/style_default.css" %}" rel="stylesheet" id="style_color" />

   <link href="{% static "assets/fancybox/source/jquery.fancybox.css" %}" rel="stylesheet" />
   <link rel="stylesheet" type="text/css" href="{% static "assets/uniform/css/uniform.default.css" %}" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
  <!-- BEGIN HEADER -->




   <div id="header" class="navbar navbar-inverse navbar-fixed-top">
       <!-- BEGIN TOP NAVIGATION BAR -->
       <div class="navbar-inner">
           <div class="container-fluid">
               <!-- BEGIN LOGO -->
               <a class="brand" >
                   <img  src="{% static "img/logo.png" %}" alt="MEHRANIK" />
               </a>

               <!-- END LOGO -->
               <!-- BEGIN RESPONSIVE MENU TOGGLER -->

               <!-- END RESPONSIVE MENU TOGGLER -->

               <!-- END  NOTIFICATION -->
               <div class="top-nav ">

                   <ul class="nav pull-left top-menu" >

                       <!-- END SUPPORT -->
                       <!-- BEGIN USER LOGIN DROPDOWN -->
                       <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              <span class="username">{{  request.user.get_full_name }}</span>
                               <b class="caret"></b>
                           </a>
                           <ul class="dropdown-menu">
                                <li><a href="../../accounts/logout/"><i class="icon-key"></i>خروج</a></li>
                           </ul>
                       </li>
                       <!-- END USER LOGIN DROPDOWN -->
                   </ul>
                   <!-- END TOP NAVIGATION MENU -->
               </div>
           </div>
       </div>
       <div style="text-align: center; display: none;" id="loading" >
         <br/>
         <img  src="{% static "img/Twirl.gif" %}" />

       </div>
       <!-- END TOP NAVIGATION BAR -->
   </div>
   <!-- END HEADER -->
   <!-- BEGIN CONTAINER -->
   <div id="container" class="row-fluid">
      <!-- BEGIN SIDEBAR -->
      <div id="sidebar" class="nav-collapse collapse">
         <div class="sidebar-toggler hidden-phone"></div>
         <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
         <div class="navbar-inverse">
            <form class="navbar-search visible-phone">
               <input type="text" class="search-query" placeholder="Search" />
            </form>
         </div>
         <!-- END RESPONSIVE QUICK SEARCH FORM -->
         <!-- BEGIN SIDEBAR MENU -->

          <ul class="sidebar-menu">
              <li><a class="" href="/"><span class="icon-box"><i class="icon-home"></i></span>خانه</a></li>
           {% for app in apps %}
               {% if app.perm in perms %}
                   <li class="has-sub {% ifequal current_app app.name %}active{% endifequal %}">
                       <a href="javascript:;" class="">
                           <span class="icon-box"> <i class="icon-{{ app.icon }}"></i></span> {{  app.title }}
                           <span class="arrow"></span>
                       </a>
                     <ul class="sub">
                   {% for link in app.links  %}
                       {% if link.perm in perms %}
                           <li {% ifequal current_url link.url %}class="active"{% endifequal %}><a  href="{{ link.url }}">{{ link.title }}</a></li>
                       {% endif %}
                   {% endfor %}
                      </ul>
                   </li>
               {% endif %}
            {% endfor %}


             
          </ul>
         <!-- END SIDEBAR MENU -->
      </div>
      <!-- END SIDEBAR -->

      {% block content %}
       Page
     {% endblock %}



            <!-- END PAGE CONTENT-->
         </div>
         <!-- END PAGE CONTAINER-->
      
      <!-- END PAGE -->
   
   <!-- END CONTAINER -->
   <!-- BEGIN FOOTER -->
   <div id="footer">
       2013 &copy;MEHRANIK
      <div class="span pull-left">
         <span class="go-top"><i class="icon-arrow-up"></i></span>
      </div>
   </div>
   <!-- END FOOTER -->
   <!-- BEGIN JAVASCRIPTS -->
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <script src="{% static "js/jquery-1.8.3.min.js" %}"></script>
   <script src="{% static "assets/bootstrap-rtl/js/bootstrap.min.js" %}"></script>
   <script src="{% static "js/jquery.blockui.js" %}"></script>
   <!-- ie8 fixes -->
   <!--[if lt IE 9]>
   <script src="{% static "js/excanvas.js" %}"></script>
   <script src="{% static "js/respond.js" %}"></script>
   <![endif]-->   
   <script type="text/javascript" src="{% static "assets/uniform/jquery.uniform.js" %}"></script>
   
    <script src="{% static "js/scripts.js" %}"></script>
  
   <script>
       jQuery(document).ready(function () {
           // initiate layout and plugins
           App.init();
       });
   </script>
      
   {% block scripts %}
   {% endblock %}
</body>
<!-- END BODY -->

