{% extends "master.html" %}
{% load staticfiles %}
{% load tags %}
{% block title %}
کاربران
{% endblock %}
{% block content %}

      <div id="main-content">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
               <div class="span12">
                   <!-- BEGIN THEME CUSTOMIZER-->

                   <!-- END THEME CUSTOMIZER-->
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->     
                  <h3 class="page-title">
                    
کاربران
                  </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href="#"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                       </li>
                      
                       <li><a href="">کاربران</a><span class="divider-last">&nbsp;</span></li>
                   </ul>
                  <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->          
            
             
            <!-- BEGIN ADVANCED TABLE widget-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN EXAMPLE TABLE widget-->
                    <div class="widget">
                        <div class="widget-title">
                            <h4><i class="icon-reorder"></i>کاربران</h4>
                            <span class="tools">
                                
                            </span>
                            
                        </div>


                        <div class="widget-body">
                            <div class="widget-body form">


                                <form   method="post" class="form-horizontal">
                                    {% csrf_token %}
                                    <div id="usernameDiv" class="control-group">
                                        <label class="control-label">نام کاربری</label>

                                        <div class="controls">
                                            <input id="username" type="text"    /> <span class="help-inline" style="display: none;" id="wronguser"> این نام کاربری موجود است</span>

                                        </div>
                                    </div>
                                    <div  class="control-group">
                                        <label class="control-label">نام</label>
                                        <div class="controls">
                                            <input id="first_name" type="text"    />

                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">نام خانوادگی</label>
                                        <div class="controls">
                                            <input id="last_name" type="text"    />

                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">مسئولیت</label>
                                        <div class="controls">
                                            <select id="groups" >{% user_groups %}</select>

                                        </div>
                                    </div>

                                    <div class="control-group">

                                        <div class="controls">
                                            <button id="btnAddItem" class="btn btn-warning"><i class="icon-plus icon-white"></i> اضافه</button>

                                        </div>
                                    </div>


                                </form>



                            </div>
                        </div>




                        <div class="widget-body">
                            <table class="table table-striped table-bordered" id="users">
                            <thead>
                                <tr>
                                    <th>شماره</th>
									<th class="hidden-phone">نام کاربری</th>
                                    <th class="hidden-phone">نام</th>
									<th class="hidden-phone">نام‌خانوادگی</th>
                                    <th class="hidden-phone">مسئولیت</th>
                                   
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                             </tbody>
                        </table>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE widget-->
                </div>
            </div>

            <!-- END ADVANCED TABLE widget-->

            <!-- END PAGE CONTENT-->
         </div>
         <!-- END PAGE CONTAINER-->
      </div>
      <!-- END PAGE -->

 {% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static "assets/data-tables/jquery.dataTables.js" %}"></script>
<script type="text/javascript" src="{% static "assets/data-tables/DT_bootstrap.js" %}"></script>
<script type="text/javascript" src="{% static "js/csrf.ajax.js" %}"></script>
    <script>
        var deleteRow = null;
        var nEditing = null;
        $('#btnAddItem').click(function(e){
            e.preventDefault();
            $.ajax({
             type: "POST",
             url: "../adduser/",
             data:{
               username:$('#username').val(),
               first_name:$('#first_name').val(),
               last_name:$('#last_name').val(),
               groups:$('#groups').val()
            },
            success: function(data){
                if(data != 'error'){
				oTable.fnDraw();
                    $('#usernameDiv').removeClass('error');
                    $('#wronguser').hide();
				}
				else{
                    $('#usernameDiv').addClass('error');
                    $('#wronguser').show();
			//	$('#message').append('<div class="alert alert-error"><button class="close" data-dismiss="alert">×</button><strong>خطا</strong> این نام کاربری موجود است</div>');
				}
            }
            });
        });

        $('button[role|="user_delete"]').live("click", function() {
            deleteRow = $(this).parents('tr')[0];
            $.ajax({
                type: "POST",
                url: "../deleteuser/",  // or just url: "/my-url/path/"
                data: {
                    pk:$(this).attr("user")

                },
                success: function(data) {
                    oTable.fnDeleteRow(deleteRow);
                }
            });



        });

        function restoreRow ( oTable, nRow )
        {
            var aData = oTable.fnGetData(nRow);
            var jqTds = $('>td', nRow);

            for ( var i=0, iLen=jqTds.length ; i<iLen ; i++ ) {
                oTable.fnUpdate( aData[i], nRow, i, false );
            }
            var jButton = $('button',nRow)[0]
            $(jButton).attr('edittype','edit')
            $(jButton).html( editButton)
            // oTable.fnDraw();
        }
        var editButton = '<i class="icon-pencil icon-white"></i> ویرایش'
		var saveButton = '<i class="icon-save icon-white"></i> ذخیره'
        function editRow ( oTable, nRow,button )
        {
            var aData = oTable.fnGetData(nRow);
            var jqTds = $('>td', nRow);
            var jqInputs = $('input', nRow);


            var selected = jqInputs[0].value;


            // jqTds[0].innerHTML = '<input type="text" value="'+aData[0]+'">';
            jqTds[1].innerHTML = '<input class="input-mini" type="text" value="'+aData[1]+'">'; //username
            jqTds[2].innerHTML = '<input class="input-mini" type="text" value="'+aData[2]+'">'; //firstname
            jqTds[3].innerHTML = '<input class="input-mini" type="text" value="'+aData[3]+'">'; //lastname
            jqTds[4].innerHTML = "<select   " + '>{% user_groups %}</select>'; //group
            $('select', nRow)[0].value = selected;

            var jButton = $('button',nRow)[0]
            $(jButton).attr("edittype" , "save");
            $(jButton).html( saveButton);
            // jqTds[4].innerHTML = "<textarea>" + description + "</textarea>"; //textArea
            // jqTds[5].innerHTML =  "<a  order=\"" + aData[0]+ "\" role=\"order_item_edit\" edit_type=\"edit\"   class=\"btn mini green-stripe\">??????</a> <button class=\"btn btn-danger\" type=\"submit\" ><i class=\"icon-remove icon-white\"></i>???</button>";
        }

        function saveRow ( oTable, nRow ,button)
        {
            var aData = oTable.fnGetData(nRow);
            var jqInputs = $('input', nRow);
            var jqSelect = $('select',nRow);
            //var jText = $('textarea', nRow);

            var pk = aData[0];
            var username = jqInputs[0].value
            var first_name = jqInputs[1].value
            var last_name = jqInputs[2].value
            var groups = jqSelect[0].value;


            $.ajax({
                type: "POST",
                url: "../changeuser/",  // or just url: "/my-url/path/"
                data: {
                    pk:pk,
                    username:username,
                    first_name:first_name,
                    last_name:last_name,
                    groups:groups
                },
                success: function(data) {
                    oTable.fnDraw();
                }
            });



        }
        $('button[role|="user_edit"]').live('click', function (e) {
            e.preventDefault();

            /* Get the row as a parent of the link that was clicked on */
            var nRow = $(this).parents('tr')[0];

            if ( nEditing !== null && nEditing != nRow ) {
                /* A different row is being edited - the edit should be cancelled and this row edited */
                restoreRow( oTable, nEditing );
                editRow( oTable, nRow );
                nEditing = nRow;
            }
            else if ( nEditing == nRow && $(this).attr("edittype") == "save" ) {
                /* This row is being edited and should be saved */

                saveRow( oTable, nEditing );
                nEditing = null;
            }
            else {
                /* No row currently being edited */
                editRow( oTable, nRow,this );
                nEditing = nRow;
            }
        } );

    var oTable = $('#users').dataTable({
    "bFilter" : false,
    "bProcessing" : true,
    "bServerSide" : true,
     "bPaginate" : false,
    "bAutoWidth" : false,
    "sAjaxSource" : "../json/users",
    "aaSorting": [[ 0, "desc" ]],
    "sPaginationType" : "bootstrap",
    "oLanguage" : {
    "sLengthMenu" : "_MENU_ رکورد در صفحه",
    "oPaginate" : {
    "sPrevious" : "قبلی",
    "sNext" : "بعدی"
    }
    },
    "aoColumnDefs" : [{
    'bSortable' : false,
    'aTargets' : [4]
    }]
    });

    jQuery('#users_wrapper').find('.dataTables_filter input').addClass("input-medium");
    // modify table search input
    jQuery("#users_wrapper").find('.dataTables_length select').addClass("input-mini");
    // modify table per page dropdown
    </script>
{% endblock %}